{% load static %}
<section id="about" class="about-mf sect-pt4 route mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="{% static 'img/me.JPG' %}" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name : </span> <span>JEONG HEE JIN</span></p>
                                        <p><span class="title-s">Profile : </span> <span>Backend developer</span></p>
                                        <p><span class="title-s">Email : </span> <span>hijjini1228@gmail.com</span></p>
                                        <p><span class="title-s">GitHub : </span> <span>Link -> <a href="https://github.com/HeeeeeJinJeong/">HeeeeeJinJeong</a></span></p>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <!--EDUCATION-->

                            <div class="skill-mf">
                                <p class="title-s">STRENGTH</p>
                                <ul>
                                    <li>실무와 가까운 프로젝트 경험이 많습니다.</li>
                                    <li>배우는 것에 열정이 있고 빠르게 습득합니다.</li>
                                    <li>다양한 백그라운드의 사람들과 협업/커뮤니케이션 하며 소통의 중요성을 알고 있습니다.</li>
                                    <li>CS 경험자이기 때문에 다양한 사람들과 소통의 중요성을 알고 있습니다.</li>
                                    <li>데이터로 사용자의 니즈를 파악, 반영해 성과를 올린 경험이 있습니다.</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    안녕하세요.<br>
                                    늦었을지도 모르지만, 늦었다고 생각할 때가 가장 빠른 때라고 했습니다.
                                    저는 29살의 나이로 개발을 공부해서 백엔드 개발자가 되고 싶은 정희진 입니다.

                                </p>
                                <p class="lead">
                                    지금까지 CS직종으로 한 우물만 파던 저였지만, CS만으로는 더이상 자기계발에 한계가 있다고 느끼던 중에 프로그래밍을 알게 되었습니다.
                                    같은 회사의 개발자 분과 커뮤니케이션을 통해서 조금 더 고객과 소통하기 편하도록 개선하는 과정이 너무 좋았고, 이 과정에서 동료와 협업의 중요성도 같이
                                    느꼈습니다.

                                </p>
                                <p class="lead">
                                    지금까지의 CS경험과 프로그래밍을 합친다면 앞으로 더 많은 사람들을 편하게 해주고, 동시에 자기계발도 멈추지 않고 할 수 있을 거라는 생각에
                                    프로그래밍을 배우기 시작했습니다.
                                    남들보다 늦게 시작한 만큼 더 열심히 배웠고, 지금도 배워가고 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>