{% extends 'base.html' %}

{% block title %}JJinMall Project{% endblock %}

{% load static %}

{% block content %}
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top mb-5" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href="/">JJinFolio</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        </button>
    </div>
</nav>

<!--/ Section Blog-Single Star /-->
<section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="post-box">
                    <h3 class="text-center">JJinMall (<a href="http://mall.3pq6bmijb4.us-west-2.elasticbeanstalk.com/">Link</a>)</h3>
                    <div class="article-content">
                        <p>
                            쇼핑몰 프로젝트 입니다.<br>
                            쇼핑몰을 직접 구현해보면서 여러가지 기능들에 대해서 학습할 수 있었습니다.<br>
                            장바구니 기능과 장바구니에 담은 물품의 수량을 각각 변경할 수 있고, <br>
                            카테고리의 하위 카테고리를 만들기 위해 filter 기능을 적용하였습니다. <br>
                            또한 소셜 로그인을 연결하여서 로그인의 편의성을 높였습니다.
                        </p>
                    </div>
                    <hr>
                    <div class="post-thumb">
                        <img src="{% static 'img/mall_main.png' %}" class="img-fluid mb-2" alt="">
                        <img src="{% static 'img/mall_detail.png' %}" class="img-fluid mb-2" alt="">
                        <img src="{% static 'img/mall_cart.png' %}" class="img-fluid mb-2" alt="">
                        <img src="{% static 'img/mall_coupon.png' %}" class="img-fluid mb-2" alt="">
                        <img src="{% static 'img/mall_pay.png' %}" class="img-fluid mb-2" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget-sidebar">
                    <h5 class="sidebar-title">주요 기능</h5>
                    <div class="sidebar-content">
                        <ul class="list-sidebar">
                            <li>카테고리 및 하위 카테고리</li>
                            <li>네이버 로그인</li>
                            <li>장바구니 기능</li>
                            <li>물품 수량 변경 기능</li>
                            <li>쿠폰 기능</li>
                            <li>필터링</li>
                        </ul>
                    </div>
                </div>
                <div class="widget-sidebar">
                    <h5 class="sidebar-title">서버</h5>
                    <div class="sidebar-content">
                        <ul class="list-sidebar">
                            <li>AWS RDS</li>
                            <li>Amazon S3</li>
                            <li>Amazon EC2</li>
                            <li>Amazon Cloud9</li>
                        </ul>
                    </div>
                </div>
                <div class="widget-sidebar">
                    <h5 class="sidebar-title">적용기술</h5>
                    <div class="sidebar-content">
                        <ul class="list-sidebar">
                            <li>Python</li>
                            <li>Django</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Blog-Single End /-->
{% endblock %}